<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="CoverageInputSet"
    mode="WC7DesignatedWorkplacesExclEndorsementExcl">
    <Require
      name="exclusionPattern"
      type="gw.api.productmodel.ClausePattern"/>
    <Require
      name="coverable"
      type="Coverable"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="gw.api.domain.StateSet.get( gw.api.domain.StateSet.US50 )"
      name="usStates"/>
    <Variable
      initialValue="coverable as entity.WC7WorkersCompLine"
      name="wc7Line"/>
    <HiddenInput
      id="ExclPatternDisplayName"
      value="exclusionPattern.DisplayName"/>
    <InputGroup
      allowToggle="exclusionPattern.allowToggle(coverable)"
      childrenVisible="coverable.getCoverageConditionOrExclusion(exclusionPattern) != null"
      id="ExclusionInputGroup"
      label="exclusionPattern.DisplayName"
      onToggle="new gw.pcf.WC7CoverageInputSetUIHelper().toggleClause(wc7Line, exclusionPattern, VALUE)">
      <ListViewInput
        editable="openForEdit"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="Exclusions"/>
        </Toolbar>
        <ListViewPanel
          id="WC7ExcludedWorkplaceLV">
          <RowIterator
            editable="openForEdit"
            elementName="exclusion"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            id="Exclusions"
            toCreateAndAdd="wc7Line.createAndAddWC7ExcludedWorkplace(wc7Line.WC7DesignatedWorkplacesExclEndorsementExcl)"
            toRemove="wc7Line.removeFromWC7ExcludedWorkplaces(exclusion)"
            type="WC7ExcludedWorkplace"
            value="wc7Line.WC7ExcludedWorkplaces">
            <Row>
              <Cell
                editable="openForEdit"
                id="ExcludedItem"
                label="displaykey.Web.Policy.WC.WCExcludedWorkplace.ExcludedItem"
                numCols="25"
                required="true"
                value="exclusion.ExcludedItem"
                width="80"/>
              <Cell
                editable="openForEdit"
                id="AddressLine1"
                label="displaykey.Web.ContactDetail.AddressDetail.AddressLine1"
                numCols="22"
                value="exclusion.AddressLine1"
                width="80"/>
              <Cell
                editable="openForEdit"
                id="AddressLine2"
                label="displaykey.Web.ContactDetail.AddressDetail.AddressLine2"
                numCols="22"
                value="exclusion.AddressLine2"
                width="80"/>
              <Cell
                editable="openForEdit"
                id="City"
                label="displaykey.Web.ContactDetail.AddressDetail.City"
                numCols="10"
                value="exclusion.City"
                width="50"/>
              <TypeKeyCell
                editable="openForEdit"
                filter="usStates.contains(gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(VALUE))"
                id="State"
                label="displaykey.Web.ContactDetail.AddressDetail.State"
                required="true"
                value="exclusion.Jurisdiction"
                width="228"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputGroup>
    <InputDivider
      visible="openForEdit or coverable.getCoverageConditionOrExclusion(exclusionPattern) != null"/>
  </InputSet>
</PCF>