<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="CoverageInputSet"
    mode="WC7MaritimeACov">
    <Require
      name="coveragePattern"
      type="gw.api.productmodel.ClausePattern"/>
    <Require
      name="coverable"
      type="Coverable"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="coverable as WC7WorkersCompLine"
      name="wc7Line"/>
    <Variable
      initialValue="wc7Line.Branch.Job.NewTerm"
      name="isNewTerm"/>
    <Variable
      initialValue="wc7Line.getVersionList().AllVersions.first().getSlice(wc7Line.Branch.PeriodStart)"
      name="wc7LineAtPeriodStart"
      type="entity.WC7WorkersCompLine"/>
    <Variable
      initialValue="new gw.pcf.WC7CoverageInputSetUIHelper()"
      name="coverageInputSetHelper"/>
    <HiddenInput
      id="CovPatternDisplayName"
      value="coveragePattern.DisplayName"/>
    <InputGroup
      allowToggle="coveragePattern.allowToggle(coverable)"
      childrenVisible="coverable.getCoverageConditionOrExclusion(coveragePattern) != null"
      confirmMessage="displaykey.Web.Policy.WC7.Confirm.RemovingFELAMaritimeCovRemovesExposures(coveragePattern)"
      id="CovPatternInputGroup"
      label="coveragePattern.DisplayName"
      onToggle="wc7Line.setMaritimeCovExists(VALUE)"
      showConfirmMessage="wc7Line.WC7MaritimeACovExists and wc7Line.WC7MaritimeCoveredEmployeesWM.HasElements">
      <CovTermOptionInput
        editable="gw.web.productmodel.ChoiceCovTermUtil.isEditable(wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeLimitTerm) and wc7LineAtPeriodStart.isLineCoverageTermEditable(wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeLimitTerm)"
        id="WC7MaritimeLimitTermInput"
        label="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeLimitTerm.DisplayName"
        required="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeLimitTerm.Pattern.Required"
        value="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeLimitTerm"/>
      <CovTermOptionInput
        editable="gw.web.productmodel.ChoiceCovTermUtil.isEditable(wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeAggLimitTerm) and wc7LineAtPeriodStart.isLineCoverageTermEditable(wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeAggLimitTerm)"
        id="WC7MaritimeAggLimitTermInput"
        label="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeAggLimitTerm.DisplayName"
        required="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeAggLimitTerm.Pattern.Required"
        value="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeAggLimitTerm"/>
      <CovTermTypekeyInput
        editable="gw.web.productmodel.ChoiceCovTermUtil.isEditable(wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeProgramTerm) and wc7LineAtPeriodStart.WC7MaritimeCoveredEmployeeVLs.Empty and wc7LineAtPeriodStart.isLineCoverageTermEditable(wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeProgramTerm)"
        id="WC7MaritimeProgramTermInput"
        label="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeProgramTerm.DisplayName"
        required="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeProgramTerm.Pattern.Required"
        value="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeProgramTerm">
        <PostOnChange/>
      </CovTermTypekeyInput>
      <CovTermTypekeyInput
        editable="gw.web.productmodel.ChoiceCovTermUtil.isEditable(wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeLiabLawTerm) and wc7LineAtPeriodStart.WC7MaritimeCoveredEmployeeVLs.Empty and wc7LineAtPeriodStart.isLineCoverageTermEditable(wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeLiabLawTerm)"
        id="WC7MaritimeLiabLawTermInput"
        label="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeLiabLawTerm.DisplayName"
        required="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeLiabLawTerm.Pattern.Required"
        value="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeLiabLawTerm"
        visible="wc7LineAtPeriodStart.WC7MaritimeACov.HasWC7MaritimeProgramTerm and wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeProgramTerm.Value == typekey.WC7CovProgramType.TC_PROGRAMII"/>
      <CovTermDirectInput
        editable="true"
        id="WC7MaritimeManualPremiumTermInput"
        label="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeManualPremiumTerm.DisplayName"
        required="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeManualPremiumTerm.Pattern.Required"
        value="wc7LineAtPeriodStart.WC7MaritimeACov.WC7MaritimeManualPremiumTerm"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="WC7MaritimeCovEmployees"/>
        </Toolbar>
        <ListViewPanel
          id="WC7MaritimeCovEmpLV">
          <Variable
            initialValue="gw.pcf.WC7ClassesInputSetUIHelper.deriveClassCodeProgramType(wc7Line.WC7MaritimeACov.WC7MaritimeProgramTerm.Value, wc7Line.WC7MaritimeACov.WC7MaritimeLiabLawTerm.Value)"
            name="classCodeProgramType"
            recalculateOnRefresh="true"/>
          <RowIterator
            autoAdd="false"
            editable="true"
            elementName="wc7MaritimeCovEmp"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            id="WC7MaritimeCovEmployees"
            numEntriesRequired="0"
            numEntriesToAdd="1"
            toCreateAndAdd="wc7Line.createAndAddMaritimeCoveredEmployeeWM()"
            toRemove="wc7MaritimeCovEmp.removeWM()"
            type="WC7MaritimeCoveredEmployee"
            validationLabel="displaykey.Web.Policy.WC.CovEmp"
            value="wc7Line.WC7MaritimeCoveredEmployeesWM">
            <Variable
              initialValue="isNewTerm ? null : wc7MaritimeCovEmp.BasedOn.ClassCode"
              name="previousWC7ClassCode"
              type="WC7ClassCode"/>
            <Variable
              initialValue="gw.pcf.WC7ClassesInputSetUIHelper.getClassCodeShortDescriptionsForLineCoverage(wc7MaritimeCovEmp, wc7MaritimeCovEmp.LocationWM, previousWC7ClassCode)"
              name="classCodeShortDescriptions"
              recalculateOnRefresh="true"/>
            <Row>
              <RangeCell
                align="left"
                editable="wc7MaritimeCovEmp.CanEditLocation"
                id="Loc"
                label="displaykey.Web.Policy.WC.CovEmp.Loc"
                required="true"
                sortOrder="1"
                value="wc7MaritimeCovEmp.LocationWM"
                valueRange="wc7Line.Branch.PolicyLocationsWM">
                <PostOnChange
                  onChange="wc7MaritimeCovEmp.ClassCode = gw.pcf.WC7ClassesInputSetUIHelper.findFirstMatchingClassCodeMaritime(wc7MaritimeCovEmp.ClassCode.Code, wc7MaritimeCovEmp, wc7Line.WC7MaritimeACov, previousWC7ClassCode)"/>
              </RangeCell>
              <TextCell
                id="Jurisdiction"
                label="displaykey.Web.Policy.WC7.ClassCode.Jurisdiction"
                required="true"
                value="wc7MaritimeCovEmp.LocationWM.State"/>
              <PickerCell
                editable="wc7MaritimeCovEmp.LocationWM.State != null"
                id="ClassCode"
                inputConversion="gw.pcf.WC7ClassesInputSetUIHelper.findFirstMatchingClassCodeMaritime(VALUE, wc7MaritimeCovEmp, wc7Line.WC7MaritimeACov, previousWC7ClassCode)"
                label="displaykey.Web.Policy.WC.CovEmp.ClassCode"
                numCols="6"
                onPick="coverageInputSetHelper.clearupWC7MaritimeEmployeeRates(wc7MaritimeCovEmp)"
                outputConversion="VALUE == null ? &quot;&quot; : (VALUE).Code"
                pickLocation="WC7ClassCodeSearchPopup.push(wc7MaritimeCovEmp.LocationWM, wc7Line, previousWC7ClassCode, WC7ClassCodeType.TC_ADMIRALTY, classCodeProgramType)"
                required="true"
                sortOrder="2"
                value="wc7MaritimeCovEmp.ClassCode">
                <PostOnChange
                  onChange="coverageInputSetHelper.clearupWC7MaritimeEmployeeRates(wc7MaritimeCovEmp); if (wc7MaritimeCovEmp.ClassCode == null) classCodeShortDescriptions = {}"/>
              </PickerCell>
              <RangeCell
                align="left"
                editable="classCodeShortDescriptions.length &gt; 1"
                id="Description"
                label="displaykey.Web.Policy.WC.CovEmp.Description"
                required="true"
                value="wc7MaritimeCovEmp.ClassCodeShortDescription"
                valueRange="classCodeShortDescriptions"
                width="250"/>
              <TextCell
                align="right"
                editable="true"
                id="NumEmployees"
                label="displaykey.Web.Policy.WC.CovEmp.NumEmployees"
                numCols="8"
                value="wc7MaritimeCovEmp.NumEmployees"/>
              <TextCell
                align="left"
                editable="true"
                id="Vessel"
                label="displaykey.Web.Policy.WC7.CovEmp.Vessel"
                numCols="14"
                value="wc7MaritimeCovEmp.Vessel"/>
              <CheckBoxCell
                editable="true"
                id="IfAnyExposure"
                label="displaykey.Web.Policy.WC.CovEmp.IfAnyExposure"
                value="wc7MaritimeCovEmp.IfAnyExposureAndClearBasisAmount">
                <PostOnChange/>
              </CheckBoxCell>
              <TextCell
                align="right"
                editable="true"
                enableSort="false"
                id="AnnualRenum"
                label="displaykey.Web.Policy.WC.CovEmp.AnnualRenum"
                numCols="8"
                required="true"
                value="wc7MaritimeCovEmp.BasisAmount"
                valueVisible="!wc7MaritimeCovEmp.IfAnyExposureAndClearBasisAmount"/>
              <TextCell
                align="right"
                enableSort="false"
                id="BasisType"
                label="displaykey.Web.Policy.WC.CovEmp.BasisType"
                numCols="8"
                required="true"
                value="wc7MaritimeCovEmp.ClassCodeBasisDescription"
                valueVisible="!wc7MaritimeCovEmp.IfAnyExposureAndClearBasisAmount"/>
              <TextCell
                editable="true"
                id="Rate"
                label="displaykey.Web.Policy.WC.CovEmp.Rate"
                numCols="8"
                required="true"
                value="wc7MaritimeCovEmp.Rate"
                valueVisible="wc7MaritimeCovEmp.ClassCode.ARatedType"
                visible="coverageInputSetHelper.isMaritimeCovEmpRateColumnVisible(wc7Line)">
                <PostOnChange/>
              </TextCell>
              <CheckBoxCell
                editable="true"
                enableSort="false"
                id="SpecificDiseaseLoaded"
                label="displaykey.Web.Policy.WC.CovEmp.SpecificDiseaseLoaded"
                value="wc7MaritimeCovEmp.SpecificDiseaseLoaded"
                valueVisible="wc7MaritimeCovEmp.ClassCode.DiseaseType"
                visible="coverageInputSetHelper.isMaritimeCovEmpSpecificDiseaseColumnVisible(wc7Line)"
                wrapLabel="true"/>
              <CheckBoxCell
                editable="true"
                enableSort="false"
                id="SupplementalDiseaseLoaded"
                label="displaykey.Web.Policy.WC.CovEmp.SupplementalDiseaseLoaded"
                value="wc7MaritimeCovEmp.SupplementalDiseaseLoaded"
                wrapLabel="true">
                <PostOnChange
                  onChange="wc7MaritimeCovEmp.SupplementalDiseaseLoadingRate = null"/>
              </CheckBoxCell>
              <TextCell
                editable="true"
                enableSort="false"
                id="SupplementalLoadingRate"
                label="displaykey.Web.Policy.WC.CovEmp.SupplementalLoadingRate"
                numCols="8"
                required="true"
                value="wc7MaritimeCovEmp.SupplementalLoadingRate"
                valueVisible="wc7MaritimeCovEmp.SupplementalDiseaseLoaded"
                visible="coverageInputSetHelper.isMaritimeCovEmpSupplementalLoadingRateColumnVisible(wc7Line)"
                wrapLabel="true"/>
              <DateCell
                dateFormat="short"
                id="EffectiveDate"
                label="displaykey.Web.Policy.WC7.CovEmp.effectiveDate"
                required="true"
                value="wc7MaritimeCovEmp.EffectiveDate"
                visible="true"/>
              <DateCell
                dateFormat="short"
                id="ExpirationDate"
                label="displaykey.Web.Policy.WC7.CovEmp.expirationDate"
                required="true"
                value="wc7MaritimeCovEmp.ExpirationDate"
                visible="true"/>
            </Row>
            <RowIterator
              editable="true"
              elementName="wc7MaritimeCovEmp2"
              id="WC7MaritimeCovEmployees2"
              pageSize="0"
              value="wc7MaritimeCovEmp.AdditionalVersions.whereTypeIs(WC7MaritimeCoveredEmployee)">
              <Variable
                initialValue="isNewTerm ? null : wc7MaritimeCovEmp2.BasedOn.ClassCode"
                name="addlVersionPreviousWC7ClassCode"/>
              <Variable
                initialValue="gw.pcf.WC7ClassesInputSetUIHelper.getClassCodeShortDescriptions(wc7MaritimeCovEmp2, wc7MaritimeCovEmp2.LocationWM, addlVersionPreviousWC7ClassCode)"
                name="addlVersionClassCodeShortDescs"
                recalculateOnRefresh="true"/>
              <Row>
                <RangeCell
                  align="left"
                  id="Loc"
                  required="true"
                  sortOrder="1"
                  value="wc7MaritimeCovEmp2.LocationWM"
                  valueRange="wc7Line.Branch.PolicyLocationsWM"
                  width="150"/>
                <TextCell
                  id="Jurisdiction"
                  required="true"
                  value="wc7MaritimeCovEmp.LocationWM.State"/>
                <PickerCell
                  id="ClassCode"
                  inputConversion="gw.pcf.WC7ClassesInputSetUIHelper.findFirstMatchingClassCodeMaritime(VALUE, wc7MaritimeCovEmp2, wc7Line.WC7MaritimeACov, addlVersionPreviousWC7ClassCode)"
                  numCols="6"
                  outputConversion="VALUE == null ? &quot;&quot; : (VALUE).Code"
                  pickLocation="WC7ClassCodeSearchPopup.push(wc7MaritimeCovEmp2.LocationWM, wc7Line, addlVersionPreviousWC7ClassCode, WC7ClassCodeType.TC_FELA, classCodeProgramType)"
                  required="true"
                  sortOrder="2"
                  value="wc7MaritimeCovEmp2.ClassCode">
                  <PostOnChange
                    onChange="if (wc7MaritimeCovEmp2.ClassCode == null) classCodeShortDescriptions = {}"/>
                </PickerCell>
                <RangeCell
                  align="left"
                  editable="addlVersionClassCodeShortDescs.length &gt; 1"
                  id="Description"
                  required="true"
                  value="wc7MaritimeCovEmp2.ClassCodeShortDescription"
                  valueRange="addlVersionClassCodeShortDescs"
                  width="250"/>
                <TextCell
                  align="right"
                  editable="true"
                  id="NumEmployees"
                  numCols="8"
                  value="wc7MaritimeCovEmp2.NumEmployees"/>
                <TextCell
                  align="left"
                  editable="true"
                  id="Vessel"
                  numCols="14"
                  value="wc7MaritimeCovEmp2.Vessel"/>
                <CheckBoxCell
                  editable="true"
                  id="IfAnyExposure"
                  value="wc7MaritimeCovEmp2.IfAnyExposureAndClearBasisAmount">
                  <PostOnChange/>
                </CheckBoxCell>
                <TextCell
                  align="right"
                  available="!wc7MaritimeCovEmp2.IfAnyExposureAndClearBasisAmount"
                  editable="true"
                  id="AnnualRenum"
                  numCols="8"
                  required="true"
                  validationLabel="displaykey.Web.Policy.WC.CovEmp.AnnualRenum"
                  value="wc7MaritimeCovEmp2.BasisAmount"
                  valueVisible="!wc7MaritimeCovEmp2.IfAnyExposureAndClearBasisAmount"/>
                <TextCell
                  align="right"
                  available="!wc7MaritimeCovEmp2.IfAnyExposureAndClearBasisAmount"
                  id="BasisType"
                  numCols="8"
                  required="true"
                  validationLabel="displaykey.Web.Policy.WC.CovEmp.BasisType"
                  value="wc7MaritimeCovEmp2.ClassCodeBasisDescription"
                  valueVisible="!wc7MaritimeCovEmp2.IfAnyExposureAndClearBasisAmount"/>
                <TextCell
                  align="right"
                  id="Rate"
                  numCols="8"
                  required="true"
                  value="wc7MaritimeCovEmp2.Rate"
                  valueVisible="wc7MaritimeCovEmp.ClassCode.ARatedType"
                  visible="coverageInputSetHelper.isMaritimeCovEmpRateColumnVisible(wc7Line)">
                  <PostOnChange/>
                </TextCell>
                <CheckBoxCell
                  enableSort="false"
                  id="SpecificDiseaseLoaded"
                  value="wc7MaritimeCovEmp2.SpecificDiseaseLoaded"
                  valueVisible="wc7MaritimeCovEmp2.ClassCode.DiseaseType"
                  visible="coverageInputSetHelper.isMaritimeCovEmpSpecificDiseaseColumnVisible(wc7Line)"
                  wrapLabel="true"/>
                <CheckBoxCell
                  enableSort="false"
                  id="SupplementalDiseaseLoaded"
                  value="wc7MaritimeCovEmp2.SupplementalDiseaseLoaded"
                  wrapLabel="true"/>
                <TextCell
                  align="right"
                  enableSort="false"
                  id="supplementalDiseaseLoadingRate"
                  numCols="8"
                  required="true"
                  value="wc7MaritimeCovEmp2.SupplementalLoadingRate"
                  valueVisible="wc7MaritimeCovEmp.SupplementalDiseaseLoaded"
                  visible="coverageInputSetHelper.isMaritimeCovEmpSupplementalLoadingRateColumnVisible(wc7Line)"
                  wrapLabel="true"/>
                <DateCell
                  dateFormat="short"
                  id="EffectiveDate"
                  required="true"
                  value="wc7MaritimeCovEmp2.EffectiveDate"
                  visible="true"/>
                <DateCell
                  dateFormat="short"
                  id="ExpirationDate"
                  required="true"
                  value="wc7MaritimeCovEmp2.ExpirationDate"
                  visible="true"/>
              </Row>
            </RowIterator>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputGroup>
    <InputDivider
      visible="openForEdit or coverable.getCoverageConditionOrExclusion(coveragePattern) != null"/>
  </InputSet>
</PCF>