<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="CoverageInputSet"
    mode="WC7WaiverOfOurRightToRecoverFromOthersEndorsemCond">
    <Require
      name="conditionPattern"
      type="gw.api.productmodel.ClausePattern"/>
    <Require
      name="coverable"
      type="Coverable"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="coverable as entity.WC7WorkersCompLine"
      name="wc7Line"/>
    <HiddenInput
      id="CondPatternDisplayName"
      value="conditionPattern.DisplayName"/>
    <InputGroup
      allowToggle="conditionPattern.allowToggle(coverable)"
      childrenVisible="coverable.getCoverageConditionOrExclusion(conditionPattern) != null"
      id="ConditionInputGroup"
      label="conditionPattern.DisplayName"
      onToggle="wc7Line.setWaiverCondExists(VALUE)">
      <Label
        hideIfEditable="true"
        id="specificwaiverHeader"
        label="displaykey.Web.Policy.WC7.SpecificWaivers"
        visible="wc7Line.WC7WaiverOfSubros.where(\w -&gt; w.Type == typekey.WC7WaiverOfSubrogation.TC_SPECIFIC).Count &gt; 0"/>
      <ListViewInput
        editable="true"
        labelAbove="true"
        visible="true">
        <Toolbar>
          <IteratorButtons
            addLabel="displaykey.Web.Policy.WC.AddSpecific"
            iterator="WC7SpecificWaiverOfSubroLV"/>
        </Toolbar>
        <ListViewPanel
          id="WC7SpecificWaiverOfSubroLV">
          <Variable
            initialValue="new gw.pcf.WC7CoverageInputSetUIHelper()"
            name="coverageInputSetHelper"/>
          <RowIterator
            autoAdd="false"
            editable="true"
            elementName="wc7SpecificWaiverOfSubro"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            numEntriesRequired="0"
            numEntriesToAdd="1"
            toCreateAndAdd="wc7Line.createAndAddSpecificWaiverOfSubroWM()"
            toRemove="wc7SpecificWaiverOfSubro.removeWM()"
            type="WC7WaiverOfSubro"
            validationLabel="displaykey.Web.Policy.WC.CovEmp"
            value="wc7Line.WC7SpecificWaiversWM">
            <IteratorSort
              sortBy="wc7SpecificWaiverOfSubro.Jurisdiction"
              sortOrder="1"/>
            <IteratorSort
              sortBy="wc7SpecificWaiverOfSubro.JobID"
              sortOrder="2"/>
            <IteratorSort
              sortBy="wc7SpecificWaiverOfSubro.Description"
              sortOrder="3"/>
            <IteratorSort
              sortBy="wc7SpecificWaiverOfSubro.EffectiveDate"
              sortOrder="4"/>
            <Row>
              <TextCell
                editable="true"
                id="Description"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.Description"
                numCols="20"
                required="true"
                value="wc7SpecificWaiverOfSubro.Description"/>
              <TextCell
                editable="true"
                id="JobID"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.JobID"
                numCols="10"
                required="true"
                value="wc7SpecificWaiverOfSubro.JobID"/>
              <RangeCell
                align="left"
                editable="wc7SpecificWaiverOfSubro.canEditJurisdiction()"
                id="State"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.State"
                required="true"
                value="wc7SpecificWaiverOfSubro.Jurisdiction"
                valueRange="(wc7Line.WC7Jurisdictions*.Jurisdiction).sortBy(\s -&gt; s.Code)"
                width="100">
                <PostOnChange/>
              </RangeCell>
              <RangeCell
                align="left"
                editable="(wc7SpecificWaiverOfSubro.Type == &quot;specific&quot;) and  (wc7SpecificWaiverOfSubro.Jurisdiction != null)"
                id="ClassCode"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.ClassCode"
                onPick="coverageInputSetHelper.clearupSpecificWaiverDiseaseLoadedColumn(wc7SpecificWaiverOfSubro)"
                optionLabel="VALUE as java.lang.String"
                required="true"
                value="wc7SpecificWaiverOfSubro.ClassCode"
                valueRange="wc7Line.getClassCodesForWC7CoveredEmployees(gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(wc7SpecificWaiverOfSubro.Jurisdiction))"
                width="150">
                <PostOnChange
                  onChange="coverageInputSetHelper.clearupSpecificWaiverDiseaseLoadedColumn(wc7SpecificWaiverOfSubro)"/>
              </RangeCell>
              <TypeKeyCell
                align="left"
                editable="true"
                filter="VALUE.hasCategory(&quot;WorkersComp&quot; as WC7LiabilityAct)"
                id="WCLaw"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.WCLaw"
                required="true"
                value="wc7SpecificWaiverOfSubro.GoverningLaw"
                width="150"/>
              <TextCell
                align="right"
                editable="true"
                enableSort="false"
                id="AnnualPayroll"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.Payroll"
                numCols="8"
                required="true"
                value="wc7SpecificWaiverOfSubro.BasisAmount"/>
              <CheckBoxCell
                editable="true"
                id="DiseaseLoaded"
                label="displaykey.Web.Policy.WC.CovEmp.SpecificDiseaseLoaded"
                value="wc7SpecificWaiverOfSubro.SpecificDiseaseLoaded"
                valueVisible="wc7SpecificWaiverOfSubro.ClassCode.DiseaseType"
                visible="coverageInputSetHelper.isDiseaseLoadedColumnVisible(wc7Line)"/>
              <DateCell
                dateFormat="short"
                editable="wc7SpecificWaiverOfSubro.canSetEffectiveWindow()"
                id="EffectiveDate"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.EffectiveDate"
                required="true"
                value="wc7SpecificWaiverOfSubro.WaiverEffectiveDate"
                visible="true"/>
              <DateCell
                dateFormat="short"
                editable="wc7SpecificWaiverOfSubro.canSetEffectiveWindow()"
                id="ExpirationDate"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.ExpirationDate"
                required="true"
                value="wc7SpecificWaiverOfSubro.WaiverExpirationDate"
                visible="true"/>
            </Row>
            <RowIterator
              editable="true"
              elementName="wc7SpecificWaiverOfSubro2"
              id="WC7SpecificWaiverOfSubro2"
              pageSize="0"
              value="wc7SpecificWaiverOfSubro.AdditionalVersions.cast(entity.WC7WaiverOfSubro)">
              <Row>
                <TextCell
                  id="Description"
                  numCols="20"
                  required="true"
                  value="wc7SpecificWaiverOfSubro2.Description"/>
                <TextCell
                  id="JobID"
                  numCols="10"
                  value="wc7SpecificWaiverOfSubro2.JobID"/>
                <TextCell
                  id="Jurisdiction"
                  required="true"
                  value="wc7SpecificWaiverOfSubro2.Jurisdiction"/>
                <TextCell
                  id="ClassCode"
                  numCols="10"
                  value="wc7SpecificWaiverOfSubro2.ClassCode"/>
                <TextCell
                  id="WCLaw"
                  numCols="10"
                  value="wc7SpecificWaiverOfSubro2.GoverningLaw"/>
                <TextCell
                  align="right"
                  editable="true"
                  enableSort="false"
                  id="AnnualRenum"
                  numCols="8"
                  required="true"
                  value="wc7SpecificWaiverOfSubro2.BasisAmount"/>
                <CheckBoxCell
                  id="SpecificDiseaseLoaded"
                  value="wc7SpecificWaiverOfSubro2.SpecificDiseaseLoaded"
                  valueVisible="wc7SpecificWaiverOfSubro.ClassCode.DiseaseType"
                  visible="coverageInputSetHelper.isDiseaseLoadedColumnVisible(wc7Line)"/>
                <DateCell
                  dateFormat="short"
                  id="EffectiveDate"
                  required="true"
                  value="wc7SpecificWaiverOfSubro2.EffectiveDate"
                  visible="true"/>
                <DateCell
                  dateFormat="short"
                  id="ExpirationDate"
                  required="true"
                  value="wc7SpecificWaiverOfSubro2.ExpirationDate"
                  visible="true"/>
              </Row>
            </RowIterator>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <Label
        hideIfEditable="true"
        id="blanketwaiverHeader"
        label="displaykey.Web.Policy.WC7.BlanketWaivers"
        visible="wc7Line.WC7WaiverOfSubros.where(\w -&gt; w.Type == typekey.WC7WaiverOfSubrogation.TC_BLANKET).Count &gt; 0"/>
      <ListViewInput
        editable="true"
        labelAbove="true"
        visible="true">
        <Toolbar>
          <IteratorButtons
            addLabel="displaykey.Web.Policy.WC.AddBlanket"
            iterator="WC7BlanketWaiverOfSubroLV"/>
        </Toolbar>
        <ListViewPanel
          id="WC7BlanketWaiverOfSubroLV">
          <RowIterator
            editable="true"
            elementName="wc7BlanketWaiverOfSubro"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            numEntriesRequired="0"
            toCreateAndAdd="wc7Line.createAndAddBlanketWaiverOfSubroWM()"
            toRemove="wc7BlanketWaiverOfSubro.removeWM()"
            type="WC7WaiverOfSubro"
            validationLabel="displaykey.Web.Policy.WC.CovEmp"
            value="wc7Line.WC7BlanketWaiversWM">
            <IteratorSort
              sortBy="wc7BlanketWaiverOfSubro.Jurisdiction"
              sortOrder="1"/>
            <IteratorSort
              sortBy="wc7BlanketWaiverOfSubro.Description"
              sortOrder="2"/>
            <IteratorSort
              sortBy="wc7BlanketWaiverOfSubro.EffectiveDate"
              sortOrder="3"/>
            <Row>
              <TextCell
                editable="true"
                id="Description"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.Description"
                numCols="20"
                required="true"
                value="wc7BlanketWaiverOfSubro.Description"/>
              <RangeCell
                align="left"
                editable="true"
                id="State"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.State"
                required="true"
                value="wc7BlanketWaiverOfSubro.Jurisdiction"
                valueRange="(wc7Line.WC7Jurisdictions*.Jurisdiction).sortBy(\s -&gt; s.Code)">
                <PostOnChange/>
              </RangeCell>
              <TypeKeyCell
                align="left"
                editable="true"
                filter="VALUE.hasCategory(&quot;WorkersComp&quot; as WC7LiabilityAct)"
                id="WCLaw"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.WCLaw"
                required="true"
                value="wc7BlanketWaiverOfSubro.GoverningLaw"
                width="150"/>
              <DateCell
                dateFormat="short"
                editable="wc7BlanketWaiverOfSubro.canSetEffectiveWindow()"
                id="EffectiveDate"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.EffectiveDate"
                required="true"
                value="wc7BlanketWaiverOfSubro.WaiverEffectiveDate"
                visible="true"/>
              <DateCell
                dateFormat="short"
                editable="wc7BlanketWaiverOfSubro.canSetEffectiveWindow()"
                id="ExpirationDate"
                label="displaykey.Web.Policy.WC.WaiversOfSubrogation.ExpirationDate"
                required="true"
                value="wc7BlanketWaiverOfSubro.WaiverExpirationDate"
                visible="true"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputGroup>
    <InputDivider
      visible="openForEdit or coverable.getCoverageConditionOrExclusion(conditionPattern) != null"/>
  </InputSet>
</PCF>