<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="WC7OptionCardPanelSet"
    mode="RetrospectiveRatingPlan">
    <Require
      name="wc7Line"
      type="WC7WorkersCompLine"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="wc7Line.RetrospectiveRatingPlanWM"
      name="retrospectiveRatingPlanWM"/>
    <DetailViewPanel>
      <InputColumn>
        <InputSet
          id="WC7RetroRatingPlanBasicInfoInputSet">
          <Input
            editable="true"
            id="IncludeALAE"
            label="displaykey.Web.Policy.WC.RetroRatingPlan.IncludeALAE"
            numCols="5"
            required="true"
            value="retrospectiveRatingPlanWM.IncludeALAE"/>
          <Input
            editable="true"
            id="LossConversionFactor"
            label="displaykey.Web.Policy.WC.RetroRatingPlan.LossConversionFactor"
            numCols="5"
            required="true"
            value="retrospectiveRatingPlanWM.LossConversionFactor"/>
          <Input
            editable="true"
            formatType="currency"
            id="LossLimitAmount"
            label="displaykey.Web.Policy.WC.RetroRatingPlan.LossLimitAmount"
            required="true"
            value="retrospectiveRatingPlanWM.LossLimitAmount"/>
          <Input
            editable="true"
            formatType="currency"
            id="EstimatedStandardPremium"
            label="displaykey.Web.Policy.WC.RetroRatingPlan.EstimatedStandardPremium"
            required="true"
            value="retrospectiveRatingPlanWM.EstimatedStandardPremium"/>
          <DateInput
            editable="true"
            id="FirstComputationDate"
            label="displaykey.Web.Policy.WC.RetroRatingPlan.FirstComputationDate"
            required="true"
            value="retrospectiveRatingPlanWM.FirstComputationDate"/>
          <DateInput
            editable="true"
            id="LastComputationDate"
            label="displaykey.Web.Policy.WC.RetroRatingPlan.LastComputationDate"
            required="true"
            value="retrospectiveRatingPlanWM.LastComputationDate"/>
          <Input
            editable="true"
            id="ComputationInterval"
            label="displaykey.Web.Policy.WC.RetroRatingPlan.ComputationInterval"
            numCols="5"
            required="true"
            value="retrospectiveRatingPlanWM.ComputationInterval"/>
          <Input
            editable="true"
            id="MinRetroPremiumRatio"
            label="displaykey.Web.Policy.WC.RetroRatingPlan.MinRetroPremiumRatio"
            numCols="5"
            required="true"
            value="retrospectiveRatingPlanWM.MinRetroPremiumRatio"/>
          <Input
            editable="true"
            id="MaxRetroPremiumRatio"
            label="displaykey.Web.Policy.WC.RetroRatingPlan.MaxRetroPremiumRatio"
            numCols="5"
            required="true"
            value="retrospectiveRatingPlanWM.MaxRetroPremiumRatio"/>
        </InputSet>
      </InputColumn>
    </DetailViewPanel>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Policy.WC.RetroRatingPlan.StandardPremium"/>
      <ListViewPanel
        id="StandardPremiumLV">
        <Row
          renderAsSmartHeader="true">
          <Cell
            bold="true"
            id="PremiumLabelHeader"
            wrapLabel="true"/>
          <Cell
            id="Premium1Header"/>
          <Cell
            id="Premium2Header"/>
          <Cell
            id="Premium3Header"/>
        </Row>
        <Row>
          <Cell
            bold="true"
            id="PercentStandardPremiumLabel"
            value="displaykey.Web.Policy.WC.RetroRatingPlan.PercentStandardPremium"
            wrapLabel="true"/>
          <Cell
            editable="true"
            id="PercentStandardPremium1"
            value="retrospectiveRatingPlanWM.PercentStandardPremium1"/>
          <Cell
            editable="true"
            id="PercentStandardPremium2"
            value="retrospectiveRatingPlanWM.PercentStandardPremium2"/>
          <Cell
            editable="true"
            id="PercentStandardPremium3"
            value="retrospectiveRatingPlanWM.PercentStandardPremium3"/>
        </Row>
        <Row>
          <Cell
            bold="true"
            id="BasicPremiumFactorLabel"
            value="displaykey.Web.Policy.WC.RetroRatingPlan.BasicPremiumFactor"
            wrapLabel="true"/>
          <Cell
            editable="true"
            id="BasicPremiumFactor1"
            value="retrospectiveRatingPlanWM.BasicPremiumFactor1"/>
          <Cell
            editable="true"
            id="BasicPremiumFactor2"
            value="retrospectiveRatingPlanWM.BasicPremiumFactor2"/>
          <Cell
            editable="true"
            id="BasicPremiumFactor3"
            value="retrospectiveRatingPlanWM.BasicPremiumFactor3"/>
        </Row>
      </ListViewPanel>
    </PanelRef>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Policy.WC.RetroRatingPlan.MultipliersFactors"/>
      <Toolbar>
        <IteratorButtons
          iterator="StateMultiplierLV"/>
      </Toolbar>
      <ListViewPanel
        id="StateMultiplierLV">
        <Variable
          initialValue="gw.api.domain.StateSet.get( gw.api.domain.StateSet.WC_NOTMONOPOLISTIC )"
          name="nonMonopolisticStates"/>
        <RowIterator
          editable="true"
          elementName="jurisdictionMultiplier"
          hasCheckBoxes="true"
          hideCheckBoxesIfReadOnly="true"
          numEntriesRequired="1"
          toCreateAndAdd="retrospectiveRatingPlanWM.createAndAddWC7JurisdictionMultiplierWM()"
          toRemove="jurisdictionMultiplier.removeWM()"
          validationLabel="displaykey.Web.Policy.WC.RetroRatingPlan.MultiplierValidation"
          value="retrospectiveRatingPlanWM.JurisdictionMultipliersWM">
          <Row>
            <TypeKeyCell
              align="left"
              editable="true"
              filter="nonMonopolisticStates.contains(gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(VALUE))"
              id="SelectState"
              label="displaykey.Web.Policy.WC.RetroRatingPlan.State"
              numCols="15"
              required="true"
              value="jurisdictionMultiplier.Jurisdiction"
              width="150"/>
            <TextCell
              align="left"
              editable="true"
              id="StateTaxMultiplier"
              label="displaykey.Web.Policy.WC.RetroRatingPlan.StateTaxMultiplier"
              numCols="10"
              required="true"
              value="jurisdictionMultiplier.JurisdictionTaxMultiplier"/>
            <Cell
              align="left"
              editable="true"
              id="FederalTaxMultiplier"
              label="displaykey.Web.Policy.WC.RetroRatingPlan.FederalTaxMultiplier"
              numCols="10"
              required="true"
              value="jurisdictionMultiplier.FederalTaxMultiplier"/>
            <Cell
              align="left"
              editable="true"
              id="StateExcessLossFactor"
              label="displaykey.Web.Policy.WC.RetroRatingPlan.StateExcessLossFactor"
              numCols="10"
              required="false"
              value="jurisdictionMultiplier.JurisdictionExcessLossFactor"
              wrapLabel="true"/>
            <Cell
              align="left"
              editable="true"
              id="FederalExcessLossFactor"
              label="displaykey.Web.Policy.WC.RetroRatingPlan.FederalExcessLossFactor"
              numCols="10"
              required="false"
              value="jurisdictionMultiplier.FederalExcessLossFactor"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Policy.WC.RetroRatingPlan.LOC"/>
      <Toolbar>
        <IteratorButtons
          iterator="LettersLV"/>
      </Toolbar>
      <ListViewPanel
        id="LettersLV">
        <RowIterator
          editable="true"
          elementName="letter"
          hasCheckBoxes="true"
          hideCheckBoxesIfReadOnly="true"
          numEntriesRequired="1"
          toCreateAndAdd="retrospectiveRatingPlanWM.createAndAddWC7LetterOfCreditWM()"
          toRemove="letter.removeWM()"
          validationLabel="displaykey.Web.Policy.WC.RetroRatingPlan.LOC.validation"
          value="retrospectiveRatingPlanWM.LettersOfCreditWM">
          <Row>
            <TextCell
              align="left"
              editable="true"
              id="LOCIssuer"
              label="displaykey.Web.Policy.WC.RetroRatingPlan.LOC.Issuer"
              numCols="50"
              required="true"
              value="letter.IssuerName"/>
            <Cell
              align="left"
              editable="true"
              id="Amount"
              label="displaykey.Web.Policy.WC.RetroRatingPlan.LOC.Amount"
              required="true"
              value="letter.Amount"/>
            <DateCell
              align="left"
              editable="true"
              id="Effective"
              label="displaykey.Web.Policy.WC.RetroRatingPlan.LOC.Effective"
              required="true"
              value="letter.ValidFrom"/>
            <DateCell
              align="left"
              editable="true"
              id="Expiration"
              label="displaykey.Web.Policy.WC.RetroRatingPlan.LOC.Expires"
              required="true"
              value="letter.ValidTo"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>