<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="WC7OptionCardPanelSet"
    mode="ManuscriptOption">
    <Require
      name="wcLine"
      type="WC7WorkersCompLine"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <PanelRef>
      <Toolbar>
        <IteratorButtons
          iterator="WC7ManuscriptOptionsLV"/>
      </Toolbar>
      <ListDetailPanel
        selectionName="selectedWC7ManuscriptOption"
        selectionType="WC7ManuscriptOption">
        <ListViewPanel
          available="selectedWC7ManuscriptOption != null"
          id="WC7ManuscriptOptionsLV"
          visible="true">
          <RowIterator
            checkBoxVisible="openForEdit"
            editable="false"
            elementName="wc7ManuscriptOption"
            toCreateAndAdd="wcLine.createAndAddWC7ManuscriptOption()"
            toRemove="wcLine.removeFromWC7ManuscriptOptions(wc7ManuscriptOption)"
            value="wcLine.WC7ManuscriptOptions">
            <Row>
              <TextCell
                formatType="currency"
                id="Premium"
                label="displaykey.Web.Policy.WC.Premium"
                value="wc7ManuscriptOption.Premium"/>
              <TextCell
                id="ManuscriptDescription"
                label="displaykey.Web.Policy.WC.ManuscriptDescription"
                maxChars="100"
                value="(wc7ManuscriptOption.Description.length &gt; 100) ? wc7ManuscriptOption.Description.substring(0, 100) : wc7ManuscriptOption.Description"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <CardViewPanel>
          <Card
            id="WC7ManuscriptOptionDetails"
            title="displaykey.Web.Policy.WC7.WC7Option.WC7ManuscriptOptionDetails">
            <DetailViewPanel
              editable="true"
              id="WC7ManuscriptOptionDV">
              <InputColumn>
                <Input
                  editable="openForEdit"
                  id="Premium"
                  label="displaykey.Web.Policy.WC.Premium"
                  value="selectedWC7ManuscriptOption.Premium"/>
                <TextAreaInput
                  editable="openForEdit"
                  id="ManuscriptDescription"
                  label="displaykey.Web.Policy.WC.ManuscriptDescription"
                  labelAbove="true"
                  numCols="80"
                  numRows="10"
                  required="true"
                  value="selectedWC7ManuscriptOption.Description"/>
              </InputColumn>
            </DetailViewPanel>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </PanelRef>
  </PanelSet>
</PCF>