<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="WC7RateTxDetailStateLV">
    <Require
      name="stateTxs"
      type="java.util.Set&lt;WC7Transaction&gt;"/>
    <Require
      name="jurisdiction"
      type="WC7Jurisdiction"/>
    <Row
      renderAsSmartHeader="true">
      <Cell
        id="LocationNum"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Loc"/>
      <Cell
        id="ClassCode"
        value="displaykey.Web.Quote.CumulDetail.Default.ClassCode"/>
      <Cell
        id="Description"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Desc"/>
      <Cell
        id="Basis"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Basis"/>
      <Cell
        id="Rate"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Rate"/>
      <Cell
        id="TxAmount"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Amount"/>
    </Row>
    <RowIterator
      editable="false"
      elementName="aggTx"
      id="gt400"
      pageSize="0"
      type="WC7Transaction"
      value="stateTxs.byCalcOrder( 401, 1000000 ).toTypedArray()">
      <IteratorSort
        sortBy="(aggTx.WC7Cost as WC7JurisdictionCost).CalcOrder"
        sortOrder="1"/>
      <IteratorSort
        sortBy="aggTx.Proration"
        sortOrder="2"/>
      <RowSetRef
        def="WC7RateTxDetailAggRowSet(aggTx)"/>
    </RowIterator>
    <Row>
      <Cell
        id="Empty13"/>
      <Cell
        id="Empty14"/>
      <Cell
        bold="true"
        id="DescriptionFoota500"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Subtotal.TotalCost(jurisdiction.DisplayName)"/>
      <Cell
        id="Empty15"/>
      <Cell
        id="Empty19"/>
      <Cell
        align="right"
        bold="true"
        id="TxAmountSubtotal500"
        value="util.StringUtil.formatNumber(stateTxs*.AmountBilling*.Amount.sum() as java.lang.Double, &quot;currency&quot;)"/>
    </Row>
  </ListViewPanel>
</PCF>