<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="WC7TaxLocationSearchDV">
    <Require
      name="searchCriteria"
      type="TaxLocationSearchCriteria"/>
    <InputColumn>
      <Input
        editable="true"
        id="Code"
        label="displaykey.Web.Policy.LocationContainer.Location.TaxLocationSearchDV.Code"
        value="searchCriteria.Code"/>
      <Input
        editable="true"
        id="City"
        label="displaykey.Web.Policy.LocationContainer.Location.TaxLocationSearchDV.City"
        value="searchCriteria.City"/>
      <Input
        editable="true"
        id="County"
        label="displaykey.Web.Policy.LocationContainer.Location.TaxLocationSearchDV.County"
        value="searchCriteria.County"/>
      <Input
        id="State"
        label="displaykey.Web.Policy.LocationContainer.Location.TaxLocationSearchDV.State"
        value="searchCriteria.State"/>
      <Input
        editable="true"
        id="TLPrefix"
        label="displaykey.Web.Policy.LocationContainer.Location.TaxLocationSearchDV.TLPrefix"
        value="searchCriteria.TLPrefix"/>
      <Input
        editable="true"
        id="Description"
        label="displaykey.Web.Policy.LocationContainer.Location.TaxLocationSearchDV.Description"
        value="searchCriteria.Description"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>