<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="WC7FormClassCodeSelectionLV">
    <Require
      name="formPattern"
      type="FormPattern"/>
    <ExposeIterator
      flags="wc7FormPatternClassCode"
      name="WC7FormPatternClassCode"
      valueType="entity.WC7FormPatternClassCode"
      widget="WC7FormClassCodeSelectionLV"/>
    <RowIterator
      editable="true"
      elementName="WC7FormPatternClassCode"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      pageSize="15"
      toRemove="formPattern.removeFromWC7FormPatternClassCodes(WC7FormPatternClassCode)"
      value="formPattern.WC7FormPatternClassCodes">
      <ToolbarFlag
        name="wc7FormPatternClassCode"/>
      <Row>
        <Cell
          id="Code"
          label="displaykey.Web.Policy.WC7.ClassCode.Code"
          value="WC7FormPatternClassCode.Code"/>
        <Cell
          id="Classification"
          label="displaykey.Web.Policy.WC7.ClassCode.Classification"
          value="WC7FormPatternClassCode.Classification"/>
        <Cell
          id="Jurisdiction"
          label="displaykey.Web.Policy.WC7.ClassCode.Jurisdiction"
          value="WC7FormPatternClassCode.Jurisdiction"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>