<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="WC7AffinityGroupDetailDV">
    <Require
      name="wc7AffinityGroup"
      type="WC7AffinityGroup"/>
    <Variable
      initialValue="User.util.CurrentUser"
      name="currentUser"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="wc7AffinityGroup.New and not currentUser.ExternalUser"
      name="canSetAnyOrganization"
      type="Boolean"/>
    <InputColumn>
      <Input
        editable="true"
        id="Name"
        label="displaykey.Web.Admin.WC7AffinityGroupDetail.BasicsDV.Name"
        required="true"
        value="wc7AffinityGroup.Name"/>
      <TypeKeyInput
        editable="true"
        id="Type"
        label="displaykey.Web.Admin.WC7AffinityGroupDetail.BasicsDV.Type"
        required="true"
        value="wc7AffinityGroup.AffinityGroupType">
        <PostOnChange/>
      </TypeKeyInput>
      <OrgInput
        action="OrganizationDetail.go(wc7AffinityGroup.Organization)"
        actionAvailable="wc7AffinityGroup.Organization != null and not User.util.CurrentUser.ExternalUser"
        editable="not User.util.CurrentUser.ExternalUser"
        id="Organization"
        label="displaykey.Web.Admin.WC7AffinityGroupDetail.BasicsDV.Organization"
        pickLocation="OrganizationSearchPopup.push(null,true)"
        required="wc7AffinityGroup.AffinityGroupType == &quot;Closed&quot;"
        value="wc7AffinityGroup.Organization"
        visible="true">
        <PostOnChange/>
      </OrgInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.Admin.WC7AffinityGroupDetail.BasicsDV.PrimaryContact"/>
      <Input
        editable="true"
        id="PrimaryContactFirstName"
        label="displaykey.Web.Admin.WC7AffinityGroupDetail.BasicsDV.PrimaryContactFirstName"
        value="wc7AffinityGroup.PrimaryContactFirstName"/>
      <Input
        editable="true"
        id="PrimaryContactLastName"
        label="displaykey.Web.Admin.WC7AffinityGroupDetail.BasicsDV.PrimaryContactLastName"
        value="wc7AffinityGroup.PrimaryContactLastName"/>
      <Input
        editable="true"
        id="PrimaryContactPhone"
        label="displaykey.Web.Admin.WC7AffinityGroupDetail.BasicsDV.PrimaryContactPhone"
        value="wc7AffinityGroup.PrimaryContactPhone"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.Admin.WC7AffinityGroupDetail.BasicsDV.Group"/>
      <DateInput
        editable="true"
        id="StartDate"
        label="displaykey.Web.Admin.WC7AffinityGroupDetail.BasicsDV.StartDate"
        value="wc7AffinityGroup.StartDate"/>
      <DateInput
        editable="true"
        id="EndDate"
        label="displaykey.Web.Admin.WC7AffinityGroupDetail.BasicsDV.EndDate"
        value="wc7AffinityGroup.EndDate"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="displaykey.Web.Admin.WC7AffinityGroupDetail.BasicsDV.Description"
        numRows="2"
        value="wc7AffinityGroup.Description"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>