<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="PolicyContactRolePanelSet"
    mode="WC7PolicyLaborContractor">
    <Require
      name="policyContactRole"
      type="PolicyContactRole"/>
    <Variable
      initialValue="policyContactRole as WC7PolicyLaborContractor"
      name="wc7PolicyLaborContractor"/>
    <PanelRef>
      <TitleBar
        id="LaborContractorTitle"
        title="displaykey.Web.Contact.LaborContractor"/>
      <ListViewPanel
        id="LaborContractorDetailsLV">
        <RowIterator
          canPick="false"
          checkBoxVisible="false"
          editable="true"
          elementName="wc7PolicyLaborContractorDetail"
          pageSize="0"
          value="wc7PolicyLaborContractor.WC7Details">
          <Row>
            <TypeKeyCell
              id="LaborContractorInclusion"
              label="displaykey.Web.Policy.WC.EmployeeLeasing.Supplier.Include"
              required="true"
              value="wc7PolicyLaborContractorDetail.Inclusion"/>
            <RangeCell
              align="left"
              editable="true"
              id="LaborContractorState"
              label="displaykey.Web.Policy.WC.EmployeeLeasing.Supplier.State"
              required="true"
              value="wc7PolicyLaborContractorDetail.Jurisdiction"
              valueRange="wc7PolicyLaborContractorDetail.WC7LaborContact.WC7WorkersCompLine.WC7Jurisdictions.map(\j -&gt; j.Jurisdiction)"/>
            <DateCell
              editable="true"
              id="LaborContractorEffectiveDate"
              label="displaykey.Web.PolicyLine.LeasedEmployee.ContractEffectiveDate"
              required="true"
              value="wc7PolicyLaborContractorDetail.ContractEffectiveDate"/>
            <DateCell
              editable="true"
              id="LaborContractorExpirationDate"
              label="displaykey.Web.PolicyLine.LeasedEmployee.ContractExpirationDate"
              required="true"
              value="wc7PolicyLaborContractorDetail.ContractExpirationDate"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>