<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="SideBySideTableLayoutDV">
    <Require
      name="jobWizHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Require
      name="sideHelper"
      type="gw.pcf.sidebyside.SideBySideScreenHelper"/>
    <Variable
      initialValue="CurrentLocation as pcf.api.Wizard"
      name="wizard"
      type="pcf.api.Wizard"/>
    <Variable
      initialValue="3"
      name="maxColsInPeriod"/>
    <Variable
      initialValue="1"
      name="covTermColWidth"/>
    <Variable
      initialValue="((maxColsInPeriod + 1) * sideHelper.PeriodInfos.Count) + 1"
      name="columnNumber"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="sideHelper.LineCoverageSets"
      name="lineCoverageSets"
      recalculateOnRefresh="true"/>
    <!-- PCF Layout -->
    <Layout
      border="true"
      columns="columnNumber"
      type="table"/>
    <Label
      id="BranchNameLabelId"
      label="displaykey.Web.Job.SideBySide.PolicyPeriodBranchName"/>
    <InputIterator
      elementName="periodInfo"
      id="BranchNames"
      value="sideHelper.PeriodInfos">
      <Label/>
      <Input
        align="center"
        editable="periodInfo.SxSEditable"
        id="BranchName"
        labelAbove="true"
        value="periodInfo.Period.BranchName">
        <LayoutConfig
          colspan="maxColsInPeriod"/>
      </Input>
    </InputIterator>
    <!-- Offering -->
    <Label
      id="OfferingLabelId"
      label="displaykey.Web.Job.Offering.Selection"/>
    <InputIterator
      elementName="periodInfo"
      id="offeringPeriodInfoIterator"
      value="sideHelper.PeriodInfos">
      <Label/>
      <RangeInput
        editable="periodInfo.SxSEditable"
        id="PickOffering"
        labelAbove="true"
        value="periodInfo.Period.Offering"
        valueRange="periodInfo.Period.Policy.Product.Offerings.where(\ off -&gt;off.isOfferingAvailable(periodInfo.Period))">
        <LayoutConfig
          colspan="maxColsInPeriod - 1"/>
        <PostOnChange
          onChange="gw.lob.common.SideBySideUtil.syncCoveragesAndRefresh(periodInfo,jobWizHelper)"/>
      </RangeInput>
      <ButtonInput
        action="gw.lob.common.SideBySideUtil.editIfQuotedAndForceSync(periodInfo.Period); jobWizHelper.Wizard.refreshCurrentStep();"
        align="left"
        available="periodInfo.SxSEditable"
        id="ForceSync"
        labelAbove="true"
        value="displaykey.Web.Job.SideBySide.ForceSync"/>
    </InputIterator>
    <!-- Total Premium -->
    <Label
      id="PolicyPremiumId"
      label="displaykey.Web.Job.SideBySide.PolicyPremium"/>
    <InputIterator
      elementName="periodInfo"
      id="periodInfoPremiumIterator"
      value="sideHelper.PeriodInfos">
      <Label/>
      <Input
        align="center"
        id="PremiumValue"
        labelAbove="true"
        value="periodInfo.PremiumsVisible ? periodInfo.Period.TotalPremiumRPT : null">
        <LayoutConfig
          colspan="maxColsInPeriod"/>
      </Input>
    </InputIterator>
    <!-- Action buttons -->
    <Label
      id="ActionsId"
      label="displaykey.Web.Job.SideBySide.ActionButtonsLabel"/>
    <InputIterator
      elementName="periodInfo"
      id="ActionButtonSetsId"
      value="sideHelper.PeriodInfos">
      <Label/>
      <Label/>
      <ContentInput
        align="center"
        labelAbove="true">
        <Link
          action="gw.lob.common.SideBySideUtil.returnToSelectedPeriod(periodInfo.Period, jobWizHelper)"
          id="SelectButtonId"
          label="displaykey.Web.Job.SideBySide.SelectPeriod"
          styleClass="miniButton"/>
        <Link
          action="gw.lob.common.SideBySideUtil.goToPeriod(periodInfo.Period, jobWizHelper)"
          icon="&quot;viewdetail.png&quot;"
          id="DetailsButtonId"/>
        <Link
          action="gw.lob.common.SideBySideUtil.duplicateVersion(periodInfo.Period, wizard, jobWizHelper)"
          confirmMessage="displayKey.Web.Job.SideBySide.DuplicatePeriod.ConfirmationMsg(periodInfo.Period.BranchName)"
          icon="&quot;duplicate_16.png&quot;"
          id="DuplicateButtonId"
          visible="not periodInfo.Period.Job.hasMaxNumberOfSideBySideQuotes()"/>
        <Link
          action="gw.lob.common.SideBySideUtil.withdrawSelectedPeriod(periodInfo, jobWizHelper)"
          confirmMessage="displaykey.Job.Operation.Withdraw.Confirm"
          icon="&quot;ico_delete.png&quot;"
          id="RemoveButtonId"/>
      </ContentInput>
      <Label
        label="">
        <LayoutConfig
          colspan="maxColsInPeriod - 2"/>
      </Label>
    </InputIterator>
    <!-- Error/warnings -->
    <Label
      id="ErrorLabelId"
      label=""/>
    <InputIterator
      elementName="periodInfo"
      id="errorWarningPeriodInfoIterator"
      value="sideHelper.PeriodInfos">
      <Label/>
      <Input
        align="center"
        id="Errors"
        labelAbove="true"
        value="periodInfo.ErrorText">
        <LayoutConfig
          colspan="maxColsInPeriod - 1"/>
      </Input>
      <ButtonInput
        action="gw.lob.common.SideBySideUtil.displayIssuesToResolve(periodInfo.Validation, periodInfo.Period, jobWizHelper)"
        align="left"
        available="gw.lob.common.SideBySideUtil.shouldShowResolveButton(periodInfo)"
        id="Resolve"
        labelAbove="true"
        value="displaykey.Web.Job.SideBySide.ResolveButton"/>
    </InputIterator>
    <Label
      id="LineLevelCoveragesLabelId"
      label="displaykey.Web.Job.SideBySide.LineCoveragesLabel">
      <LayoutConfig
        colspan="columnNumber"/>
    </Label>
    <!-- Iterate over line level coverages -->
    <InputIterator
      elementName="lineCovSet"
      id="lineLevelCoverages"
      value="sideHelper.LineCoverageSets">
      <Input
        id="lineLevelCoverageLabelId"
        labelAbove="true"
        value="lineCovSet.InitialRow.CoverageLabel"/>
      <InputIterator
        elementName="lineCovTermInfo"
        id="lineCovRow"
        value="lineCovSet.InitialRow.CovTermInfos">
        <Label/>
        <InputSetRef
          def="SideBySideCovTermInputSet(lineCovTermInfo, covTermColWidth, true)"
          id="targetedCovTermId"
          mode="lineCovTermInfo?.getPostOnChangeMode(lineCovSet)"/>
        <Input
          align="right"
          id="CostForCoverage"
          labelAbove="true"
          value="lineCovTermInfo.CovInfo.IsCostVisible ? lineCovTermInfo.CovInfo.TotalCost : null">
          <LayoutConfig
            colspan="maxColsInPeriod - 2"/>
        </Input>
      </InputIterator>
      <InputIterator
        elementName="covTermRow"
        id="lineCovTermRow"
        value="lineCovSet.AdditionalCovTermRows">
        <Input
          id="CovTermLabelId"
          labelAbove="true"
          value="covTermRow.CoverageLabel"/>
        <InputIterator
          elementName="lineCovTermInfo"
          id="lineCovTermRow"
          value="covTermRow.CovTermInfos">
          <Label
            label=""/>
          <InputSetRef
            def="SideBySideCovTermInputSet(lineCovTermInfo, covTermColWidth, false)"
            id="targetedCovTermId"
            mode="lineCovTermInfo?.getPostOnChangeMode(lineCovSet)"/>
          <Label
            label="">
            <LayoutConfig
              colspan="maxColsInPeriod - 1"/>
          </Label>
        </InputIterator>
      </InputIterator>
    </InputIterator>
    <!-- Vehicle Coverages -->
    <Label
      id="VehicleLevelCoveragesId"
      label="displaykey.Web.Job.SideBySide.PersonalAuto.VehicleCoverageTitle">
      <LayoutConfig
        colspan="columnNumber"/>
    </Label>
    <InputIterator
      elementName="vehicleSet"
      id="vehicleSetsId"
      value="sideHelper.PAVehicleSets">
      <Label
        id="vehNamePlaceHolderId"
        label=""/>
      <InputIterator
        elementName="vehLabel"
        id="vehicleLabelsId"
        value="vehicleSet.VehicleLabels">
        <Label/>
        <Input
          id="vehicleLabel"
          labelAbove="true"
          value="vehLabel">
          <LayoutConfig
            colspan="maxColsInPeriod"/>
        </Input>
      </InputIterator>
      <InputIterator
        elementName="vehCovSet"
        id="vehLevelCoverages"
        value="vehicleSet.VehicleCovSets">
        <Input
          id="vehLevelCoverageLabelId"
          labelAbove="true"
          value="vehCovSet.InitialRow.CoverageLabel"/>
        <InputIterator
          elementName="vehCovTermInfo"
          id="vehCovRow"
          value="vehCovSet.InitialRow.CovTermInfos">
          <Label/>
          <InputSetRef
            def="SideBySideCovTermInputSet(vehCovTermInfo, covTermColWidth, true)"
            id="targetedCovTermId"
            mode="vehCovTermInfo?.getPostOnChangeMode(vehCovSet)"/>
          <Input
            align="right"
            id="CostForCoverage"
            labelAbove="true"
            value="vehCovTermInfo.CovInfo.IsCostVisible ? vehCovTermInfo.CovInfo.Cost.ActualAmount : null">
            <LayoutConfig
              colspan="maxColsInPeriod - 2"/>
          </Input>
        </InputIterator>
        <InputIterator
          elementName="covTermRow"
          id="vehCovTermRow"
          value="vehCovSet.AdditionalCovTermRows">
          <Input
            id="CovTermLabelId"
            labelAbove="true"
            value="covTermRow.CoverageLabel"/>
          <InputIterator
            elementName="lineCovTermInfo"
            id="lineCovTermRow"
            value="covTermRow.CovTermInfos">
            <Label
              label=""/>
            <InputSetRef
              def="SideBySideCovTermInputSet(lineCovTermInfo, covTermColWidth, true)"
              id="targetedCovTermId"
              mode="lineCovTermInfo?.getPostOnChangeMode(vehCovSet)"/>
            <Label
              label="">
              <LayoutConfig
                colspan="maxColsInPeriod - 2"/>
            </Label>
          </InputIterator>
        </InputIterator>
      </InputIterator>
    </InputIterator>
  </DetailViewPanel>
</PCF>