<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="RoleUsersLV">
    <ExposeIterator
      valueType="entity.User"
      widget="RoleUsersLV"/>
    <Require
      name="role"
      type="Role"/>
    <RowIterator
      editable="true"
      elementName="user"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      pickLocation="UserSearchPopup.push(null)"
      toAdd="role.addRoleToUser(user)"
      toRemove="role.removeRoleFromUser(user)"
      value="role.AllUsersArray">
      <Row>
        <Cell
          action="UserDetailPage.go(user)"
          id="FirstName"
          label="displaykey.Web.Admin.RoleUsers.FirstName"
          value="user.Contact.FirstName"/>
        <Cell
          action="UserDetailPage.go(user)"
          id="LastName"
          label="displaykey.Web.Admin.RoleUsers.LastName"
          value="user.Contact.LastName"/>
        <Cell
          action="OrganizationDetail.go(user.Organization)"
          id="Organization"
          label="displaykey.Web.Admin.Organization"
          value="user.Organization"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>