<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="LoadHistoryLV">
    <Require
      name="PageHelper"
      type="gw.api.tools.LoadHistoryHelper"/>
    <Require
      name="Histories"
      type="LoadCommandQuery"/>
    <Require
      name="ShowButtons"
      type="Boolean"/>
    <RowIterator
      editable="true"
      elementName="History"
      value="Histories">
      <Row>
        <LinkCell
          align="center"
          visible="ShowButtons == true">
          <Link
            action="PageHelper.download(History)"
            download="true"
            id="download"
            label="displaykey.Button.Download"
            showConfirmMessage="false"
            visible="ShowButtons == true"/>
        </LinkCell>
        <ButtonCell
          action="LoadHistoryDetail.drilldown(PageHelper, History)"
          align="center"
          hideChildrenIfReadOnly="true"
          id="ViewHistory"
          value="displaykey.Web.InternalTools.InfoPages.LoadHistory.View"
          visible="ShowButtons"/>
        <ButtonCell
          action="PageHelper.delete(History)"
          align="center"
          hideChildrenIfReadOnly="true"
          id="delete"
          value="displaykey.Button.Delete"
          visible="ShowButtons"/>
        <Cell
          enableSort="false"
          id="LVOperationType"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.OperationType"
          value="History.CommandType.DisplayName"/>
        <DateCell
          dateFormat="short"
          id="LVStartTime"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.StartTime"
          sortBy="History.StartTime"
          sortDirection="descending"
          sortOrder="1"
          timeFormat="long"
          value="History.StartTime"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="LVEndTime"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.EndTime"
          timeFormat="long"
          value="History.EndTime"/>
        <Cell
          align="right"
          enableSort="false"
          id="LVDuration"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.Duration"
          value="PageHelper.getDurationString(History.StartTime, History.EndTime)"/>
        <Cell
          id="lverrorcount"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.ErrorCount"
          value="History.ErrorCount"/>
        <Cell
          enableSort="false"
          id="LVCallingUser"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.CallingUser"
          value="History.CallingUser.DisplayName"/>
        <Cell
          editable="true"
          enableSort="false"
          id="LVDescription"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.Description"
          value="History.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>