<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="RateRoutineDetail.go(rateroutine)"
    afterCommit="RateRoutineDetail.go(rateroutine)"
    canEdit="perm.System.ratebookedit"
    canVisit="perm.System.ratebookedit"
    id="EditRateRoutine"
    parent="RateRoutines()"
    showUpLink="true"
    startInEditMode="true"
    title="displaykey.Web.Rating.RateRoutines.EditRateRoutineTitle">
    <LocationEntryPoint
      signature="EditRateRoutine(rateroutine : CalcRoutineDefinition)"/>
    <Variable
      name="rateroutine"
      recalculateOnRefresh="true"
      type="CalcRoutineDefinition"/>
    <ScreenRef
      def="RateRoutineEditScreen(rateroutine, false, UNDEFINED)"/>
  </Page>
</PCF>