<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="true"
    id="RatingParameterSetScreen">
    <Variable
      initialValue="gw.api.web.util.SessionUtil.getSetting(displaykey.Web.Rating.ParameterSets.PolicyLineSetting)"
      name="selectedLineType"
      type="String"/>
    <Variable
      initialValue="CalcRoutineParameterSet.getParamSetsReferencedForRoutinesInPromotedBook()"
      name="paramSetsReferencedInRoutinesFromPromotedBooks"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;String&gt;"/>
    <Variable
      initialValue="CalcRoutineParameterSet.getParamSetsReferencedInRateTableDefinitions()"
      name="paramSetsReferencedInRateTableDefinitions"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;String&gt;"/>
    <Variable
      initialValue="CalcRoutineParameterSet.getParamSetsReferencedInRateTableDefinitionsInPromotedBooks()"
      name="paramSetsReferencedInPromotedBooksViaRateTableDefinitions"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;String&gt;"/>
    <Variable
      initialValue="gw.pcf.rating.flow.RatingParameterSetScreenHelper.getParametersReferencedInRateTableDefinitionsRateRoutinesRateFunctions()"
      name="parametersReferencedInRateTableDefinitionsRateRoutinesRateFunctions"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;gw.util.Pair&lt;CalcRoutineParameterSet, CalcRoutineParamName&gt;&gt;"/>
    <Toolbar>
      <ToolbarRangeInput
        editable="true"
        id="PolicyLineSelection"
        label="displaykey.Web.Rating.ParameterSets.PolicyLine"
        noneSelectedLabel="displaykey.Web.Rating.ParameterSets.AllLines"
        optionLabel="gw.api.productmodel.PolicyLinePattern.DisplayNameForCode(VALUE)"
        value="selectedLineType"
        valueRange="gw.rating.rtm.util.ProductModelUtils.getAllPolicyLines()">
        <PostOnChange
          onChange="gw.api.web.util.SessionUtil.putSetting(displaykey.Web.Rating.ParameterSets.PolicyLineSetting, selectedLineType)"/>
      </ToolbarRangeInput>
    </Toolbar>
    <ListDetailPanel
      id="CalcRoutineParameterSetsLDV"
      selectionName="parameterSet"
      selectionType="CalcRoutineParameterSet">
      <PanelRef>
        <Toolbar
          id="ParamSetToolbar">
          <IteratorButtons
            hideIfReadOnly="false"
            id="ParamSetIteratorButtons"
            iterator="ParameterSetIterator"
            removeLabel="displaykey.Web.Rating.ParameterSet.RemoveLabel"/>
        </Toolbar>
        <ListViewPanel
          id="CalcRoutineParameterSetsLV"
          validationExpression="gw.pcf.rating.flow.RatingParameterSetScreenHelper.duplicateCalcRoutineParameterCodes(parameterSet)">
          <RowIterator
            checkBoxVisible="(not paramSetsReferencedInRoutinesFromPromotedBooks.contains(paramSet.Code)) and (not paramSetsReferencedInRateTableDefinitions.contains(paramSet.Code))"
            editable="false"
            elementName="paramSet"
            hasCheckBoxes="true"
            id="ParameterSetIterator"
            toCreateAndAdd="{var newSet = new CalcRoutineParameterSet(); newSet.PolicyLinePatternCode = selectedLineType; return newSet}"
            toRemove="paramSet.remove()"
            value="gw.pcf.rating.flow.RatingParameterSetScreenHelper.getParameterSets(selectedLineType)">
            <Row>
              <Cell
                id="ParameterSetCode"
                label="displaykey.Web.Rating.ParameterSet.Code"
                required="true"
                sortBy="paramSet.Code"
                sortOrder="1"
                value="paramSet.Code"
                width="400"
                wrap="true"/>
              <Cell
                id="ParameterSetName"
                label="displaykey.Web.Rating.ParameterSet.Name"
                required="true"
                sortBy="paramSet.Name"
                sortOrder="2"
                value="paramSet.Name"
                width="400"
                wrap="true"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <CardViewPanel
        id="ParameterCV">
        <Card
          id="parameters"
          title="displaykey.Web.Rating.ParameterSet.Parameters">
          <PanelRef>
            <Toolbar>
              <EditButtons
                editVisible="not paramSetsReferencedInRoutinesFromPromotedBooks.contains(parameterSet.Code) and not paramSetsReferencedInPromotedBooksViaRateTableDefinitions.contains(parameterSet.Code)"/>
            </Toolbar>
            <DetailViewPanel
              editable="not paramSetsReferencedInRoutinesFromPromotedBooks.contains(parameterSet.Code)">
              <InputColumn>
                <Input
                  editable="true"
                  id="ParamsetCode"
                  label="displaykey.Web.Rating.ParameterSet.Code"
                  required="true"
                  value="parameterSet.Code"/>
                <Input
                  editable="true"
                  id="ParamSetName"
                  label="displaykey.Web.Rating.ParameterSet.Name"
                  required="true"
                  value="parameterSet.Name"/>
                <RangeInput
                  editable="true"
                  id="ParamSetPolicyLine"
                  label="displaykey.Web.Rating.ParameterSets.PolicyLine"
                  optionLabel="gw.api.productmodel.PolicyLinePattern.DisplayNameForCode(VALUE)"
                  required="true"
                  value="parameterSet.PolicyLinePatternCode"
                  valueRange="gw.rating.rtm.util.ProductModelUtils.getAllPolicyLines()">
                  <PostOnChange/>
                </RangeInput>
              </InputColumn>
            </DetailViewPanel>
          </PanelRef>
          <PanelRef
            def="LocalizedValuesDV(parameterSet, { &quot;Name&quot; }, { displaykey.Web.Rating.ParameterSet.Name })"/>
          <PanelRef
            editable="not paramSetsReferencedInRoutinesFromPromotedBooks.contains(parameterSet.Code)">
            <Toolbar
              id="ParameterToolbar">
              <IteratorButtons
                id="ParameterIteratorButtons"
                iterator="ParameterIterator"
                removeLabel="displaykey.Web.Rating.Parameter.RemoveLabel"/>
            </Toolbar>
            <ListViewPanel
              id="ParameterLV">
              <RowIterator
                checkBoxVisible="not parametersReferencedInRateTableDefinitionsRateRoutinesRateFunctions.contains(new gw.util.Pair&lt;CalcRoutineParameterSet, CalcRoutineParamName&gt;(parameterSet, parameter.Code))"
                editable="true"
                elementName="parameter"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                id="ParameterIterator"
                toCreateAndAdd="{var newParam = new CalcRoutineParameter(); newParam.CalcRoutineParameterSet = parameterSet; return newParam}"
                toRemove="parameter.remove()"
                value="parameterSet.Parameters">
                <Row
                  editable="parameter.Code == null or not parametersReferencedInRateTableDefinitionsRateRoutinesRateFunctions.contains(new gw.util.Pair&lt;CalcRoutineParameterSet, CalcRoutineParamName&gt;(parameterSet, parameter.Code))">
                  <RangeCell
                    editable="true"
                    id="ParameterCode"
                    label="displaykey.Web.Rating.Parameter.Name"
                    required="true"
                    sortBy="parameter.Code"
                    sortOrder="1"
                    value="parameter.Code"
                    valueRange="typekey.CalcRoutineParamName.getTypeKeys(false)"
                    width="250"
                    wrap="true">
                    <PostOnChange
                      onChange="parameter.ParamType = gw.pcf.rating.flow.RatingParameterSetScreenHelper.codeToDefaultType(parameter.Code)"/>
                  </RangeCell>
                  <Cell
                    editable="true"
                    id="ParameterParamType"
                    label="displaykey.Web.Rating.Parameter.ParamType"
                    required="true"
                    validationExpression="gw.pcf.rating.flow.RatingParameterSetScreenHelper.verifyParamType(parameter.ParamType)"
                    value="parameter.ParamType"
                    width="250"
                    wrap="true">
                    <PostOnChange/>
                  </Cell>
                  <PickerCell
                    available="gw.pcf.rating.flow.RatingParameterSetScreenHelper.isCoverageEntity(parameter.ParamType) and parameterSet.PolicyLinePatternCode != null"
                    editable="true"
                    helpText="displaykey.Web.Rating.Parameter.CoveragePattern.HelpText"
                    id="ParameterCoveragePattern"
                    label="displaykey.Web.Rating.Parameter.CoveragePattern"
                    pickLocation="CoveragePatternSearchByLinePatternPopup.push(gw.api.productmodel.PolicyLinePattern.getByCode(parameterSet.PolicyLinePatternCode),typekey.CoveragePatternSearchType.TC_COVERAGE)"
                    validationExpression="gw.pcf.rating.flow.RatingParameterSetScreenHelper.verifyCoverageCode(parameter.CoveragePattern)"
                    value="parameter.CoveragePattern"
                    width="300"
                    wrap="true"/>
                  <CheckBoxCell
                    editable="true"
                    id="ParameterWritable"
                    label="displaykey.Web.Rating.Parameter.Writable"
                    value="parameter.Writable"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </Screen>
</PCF>